.hero {
  height: 100vh;
  background: url("../assets/hero.jpg") center/cover no-repeat;
  position: relative;
}

.benefits {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 30px;
  background: #111830;
}

.benefit {
  text-align: center;
  max-width: 160px;
}

.benefit img {
  width: 100%;
  border-radius: 14px;
  margin-bottom: 10px;
}
